# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
pd.read_csv('chipotle.tsv',sep='\t')

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv('chipotle.tsv',sep='\t')

### Step 4. How many products cost more than $10.00?

In [4]:
(chipo['item_price'].apply(lambda p: float(p.split('$')[1])) > 10).sum()

np.int64(1130)

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [13]:
new_chipo = chipo[['item_name','item_price']]
new_chipo

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [16]:
chipo.sort_values(by='item_name',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [34]:
chipo['float_price'] = chipo['item_price'].apply(lambda p: float(p.strip('$')))
exp_item = chipo['float_price'].max()
exp_row = chipo[chipo['float_price'] == exp_item]
exp_row['quantity'].iloc[0]

np.int64(15)

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [36]:
sum(chipo['item_name'] == 'Veggie Salad Bowl')

18

### Step 9. How many times did someone order more than one Canned Soda?

In [69]:
canny_soda = chipo[(chipo['choice_description'].str.contains('Canned Soda', na=False)) & (chipo['quantity'] > 1)]
canny_soda['order_id'].sum()

np.int64(0)

### Step 10. What is the order id of order with the highest total price of all items ordered in that order?

In [57]:
od_id = exp_row['order_id'].iloc[0]
print(od_id)

1443

### Step 11. In How many orders, atleast one items is ordered multiple times?

In [70]:
multi_item = chipo[(chipo['quantity'] > 1) & (chipo['choice_description'].notnull())]
multi_item['order_id'].nunique()

168

### Step 12. Create a billing report (dataframe) which has columns as 'Order_Id', 'Total_Bill', 'Total Bill After Discount'. Restaurant owner has decided to give discount of 5% on orders of above $50 total cost.

In [78]:
chipo['price'] = chipo['item_price'].apply(lambda x: float(x.strip('$')))
chipo['total'] = chipo['price'] * chipo['quantity']
order_totals = chipo.groupby('order_id')['total'].sum().reset_index()
order_totals.columns = ['Order_Id', 'Total_Bill']
order_totals['Total_Bill_After_Discount'] = order_totals['Total_Bill'].apply(lambda x: round(x * 0.95, 2) if x > 50 else round(x, 2))
order_totals

      Order_Id  Total_Bill  Total_Bill_After_Discount
0            1       11.56                      11.56
1            2       33.96                      33.96
2            3       12.67                      12.67
3            4       21.00                      21.00
4            5       13.70                      13.70
...        ...         ...                        ...
1829      1830       23.00                      23.00
1830      1831       12.90                      12.90
1831      1832       13.20                      13.20
1832      1833       23.50                      23.50
1833      1834       28.75                      28.75

[1834 rows x 3 columns]